/* Mobile and tablet */
x-navigation[layout='tablet'],
x-navigation[layout='mobile'] {
  --nav-min-width: 150px;
  --icon-width: 30px;
  --icon-height: 20px;
  --line-height: 2px;

  min-width: var(--nav-mobile-min-width, var(--nav-min-width));
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

x-navigation[layout='mobile'] {
  --nav-min-width: 100%;

  left: 0;
}

x-navigation[layout='tablet'] .toggle,
x-navigation[layout='mobile'] .toggle {
  text-decoration: none;
  display: block;
  width: var(--nav-toggle-icon-width, var(--icon-width));
  height: var(--nav-toggle-icon-height, var(--icon-height));
  position: absolute;
  top: 0;
  right: 0;
}

x-navigation[layout='tablet'] .toggle:focus,
x-navigation[layout='mobile'] .toggle:focus {
  outline: 2px solid var(--nav-toggle-icon-outline-color, yellow);
  outline-offset: 5px;
}

.line {
  display: block;
  width: 100%;
  height: var(--nav-toggle-line-height, var(--line-height));
  background: var(--nav-toggle-icon-line-color, yellow);
  position: absolute;
  left: 0;
  transition: all 400ms;
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 50%;
}

.line-3 {
  top: 100%;
}

.toggle:hover .line-1,
.toggle:focus .line-1 {
  transform: translateY(calc(-1 * var(--nav-toggle-line-height, var(--line-height)) / 2));
}

.toggle:hover .line-3,
.toggle:focus .line-3 {
  transform: translateY(calc(var(--nav-toggle-line-height, var(--line-height)) / 2));
}

.toggle.active .line-1 {
  transform: translateY(calc(var(--nav-toggle-icon-height, var(--icon-height)) / 2)) translateX(0) rotate(45deg);
}

.toggle.active .line-2 {
  opacity: 0;
}

.toggle.active .line-3 {
  transform: translateY(calc(-1 * var(--nav-toggle-icon-height, var(--icon-height)) / 2)) translateX(0) rotate(-45deg);
}

/* Destop */
x-navigation[layout='desktop'] {
  position: relative;
}

x-navigation[layout='desktop'] .toggle {
  display: none;
}
