:host a {
  color: var(--nav-font-color);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}

:host a.current {
  color: var(--nav-current-color);
  border-bottom: var(--nav-current-border-width) solid currentColor;
  cursor: default;
}

:host a:not(.current):hover {
  color: var(--nav-hover-color);
}

:host a:focus {
  color: var(--nav-hover-color);
  outline: none;
  border-bottom: var(--nav-current-border-width) solid currentColor;
}

:host([mobile]) a {
  color: var(--nav-mobile-font-color);
  line-height: 1;
  text-align: left;
  display: block;
  padding: 15px 25px;
  margin: 0;
}

:host([mobile]) a.current {
  color: var(--nav-mobile-current-color);
  border-bottom: none;
  border-left: 5px solid currentColor;
}

:host([mobile]) a:not(.current):hover {
  color: var(--nav-mobile-hover-color);
}
