:host {
  font-size: inherit;
  text-transform: uppercase;
  text-align: center;
  min-width: 100px;
  max-width: 160px;
}

.chart {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.circle {
  position: relative;
}

p {
  color: var(--chart-title-color, yellow);
  font-size: 1.7em;
  font-weight: 400;
  margin: 0;
}

p:not(:empty) {
  margin-top: var(--chart-title-margin-top, 0);
}

svg {
  width: 100%;
  height: 100%;
}

circle {
  transform: rotate(-90deg);
}

circle:first-of-type {
  fill: var(--chart-color-fill, transparent);
  stroke: var(--chart-full-color-stroke, #eee);
}

circle:last-of-type {
  fill: transparent;
  stroke: var(--chart-color-stroke, yellow);
}

text {
  fill: var(--chart-percent-color, #666);
  font-family: inherit;
  font-size: 48px;
  font-weight: 100;
}
