:host {
  display: block;
  contain: content;
}

x-carousel {
  display: flex;
  position: relative;
}

.btn {
  font-size: 0;
  width: var(--carousel-arrow-size, 16px);
  height: var(--carousel-arrow-size, 16px);
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.btn::before {
  --border: 3px solid var(--carousel-arrow-color, #ccc);

  content: '';
  width: 100%;
  height: 100%;
  border-right: var(--border);
  border-bottom: var(--border);
  margin-top: -50%;
  position: absolute;
  top: 50%;
}

.btn--prev {
  left: 10px;
}

.btn--prev::before {
  margin-right: -50%;
  right: 35%;
  transform: rotate(135deg);
}

.btn--next {
  right: 10px;
}

.btn--next::before {
  margin-left: -50%;
  left: 35%;
  transform: rotate(-45deg);
}

.btn:focus {
  outline: 2px solid var(--carousel-arrow-outline-color, yellow);
  outline-offset: 5px;
}

.btn:hover::before,
.btn:active::before {
  opacity: 0.6;
}
