:host {
  --carousel-bg: transparent;
  --carousel-arrow-size: 16px;
  --carousel-arrow-color: #ccc;
  --carousel-arrow-outline-color: #95e1d3;
  --carousel-padding-vertical: 0;
  --carousel-img-size: 120px;
  --carousel-blockquote-color: inherit;
  --carousel-blockquote-style: italic;
  --carousel-blockquote-min-height: 60px;
  --carousel-blockquote-max-height: 100px;
  --carousel-blockquote-margin-bottom: 20px;
  --carousel-cite-font-family: inherit;
  --carousel-cite-color: var(--carousel-blockquote-color);
  --carousel-cite-line-width: 3em;
  --carousel-cite-line-color: #95e1d3;
  --carousel-cite-text-align: left;
  --carousel-margin-horizontal: 75px;
  --carousel-scrollbar-width: 5px;
  --carousel-scrollbar-thumb-color: #999;
  --carousel-scrollbar-track-color: #eee;
  --carousel-scrollbar-padding-right: 8px;

  display: flex;
  contain: content;
  position: relative;
}

::slotted(x-carousel-item) {
  display: flex;
  contain: content;
  background-color: var(--carousel-bg);
}

.btn {
  font-size: 0;
  width: var(--carousel-arrow-size);
  height: var(--carousel-arrow-size);
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 999;
  cursor: pointer;
}

.btn::before {
  content: '';
  width: 100%;
  height: 100%;
  border-right: 3px solid var(--carousel-arrow-color);
  border-bottom: 3px solid var(--carousel-arrow-color);
  margin-top: -50%;
  position: absolute;
  top: 50%;
}

.btn--prev {
  left: 10px;
}

.btn--prev::before {
  margin-right: -50%;
  right: 35%;
  transform: rotate(135deg);
}

.btn--next {
  right: 10px;
}

.btn--next::before {
  margin-left: -50%;
  left: 35%;
  transform: rotate(-45deg);
}

.btn:focus {
  outline: 2px solid var(--carousel-arrow-outline-color);
  outline-offset: 5px;
}

.btn:hover::before,
.btn:active::before {
  opacity: 0.6;
}
