:host {
  --text-margin-bottom: 20px;

  display: flex;
  contain: content;
  background-color: var(--carousel-bg, transparent);
}

figure {
  display: none;
  min-height: calc(var(--carousel-text-max-height, 100px) + var(--text-margin-bottom, 20px) + 40px);
  margin: 0 var(--carousel-margin-horizontal, 75px);
}

figure.current {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img {
  flex: 0 1;
  min-width: var(--carousel-img-size, 120px);
  margin-right: 30px;
}

figcaption {
  flex: 1 1;
}

.text {
  min-height: 50px;
  max-height: var(--carousel-text-max-height, 100px);
  padding-right: var(--carousel-scrollbar-padding-right, 8px);
  margin-bottom: var(--text-margin-bottom, 20px);
  overflow: auto;
}

.text::-webkit-scrollbar {
  width: var(--carousel-scrollbar-width, 10px);
}

.text::-webkit-scrollbar-thumb {
  background-color: var(--carousel-scrollbar-thumb-color, #999);
}

.text::-webkit-scrollbar-thumb:hover {
  filter: opacity(0.2);
}

.text::-webkit-scrollbar-track {
  background-color: var(--carousel-scrollbar-track-color, #eee);
}

.author {
  padding-left: 70px;
  position: relative;
}

/** Mobile and tablet **/
:host([layout="mobile"]) .img {
  display: none;
}

:host([layout="mobile"]) figcaption {
  width: 100%;
  margin-left: 0;
}
