:host([selected]) figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--carousel-padding-vertical) 0;
}

figure {
  display: none;
  min-height: calc(var(--carousel-blockquote-max-height) + var(--carousel-blockquote-margin-bottom) + 40px);
  margin: 0 var(--carousel-margin-horizontal);
  animation: fadeIn ease-in 0.5s;
}

.img {
  flex: 0 1;
  min-width: var(--carousel-img-size);
  margin-right: 30px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

figcaption {
  flex: 1 1;
}

blockquote {
  color: var(--carousel-blockquote-color);
  font-size: 1.3rem;
  font-weight: 300;
  font-style: var(--carousel-blockquote-style);
  min-height: var(--carousel-blockquote-min-height);
  max-height: var(--carousel-blockquote-max-height);
  padding-right: var(--carousel-scrollbar-padding-right);
  margin: 0 0 var(--carousel-blockquote-margin-bottom);
  overflow: auto;
}

blockquote::before,
blockquote::after {
  content: '"';
}

blockquote::-webkit-scrollbar {
  width: var(--carousel-scrollbar-width, 10px);
}

blockquote::-webkit-scrollbar-thumb {
  background-color: var(--carousel-scrollbar-thumb-color);
}

blockquote::-webkit-scrollbar-thumb:hover {
  filter: opacity(0.2);
}

blockquote::-webkit-scrollbar-track {
  background-color: var(--carousel-scrollbar-track-color);
}

cite {
  color: var(--carousel-cite-color);
  font-family: var(--carousel-cite-font-family);
  font-size: 1.7rem;
  text-align: var(--carousel-cite-text-align);
  display: block;
  padding-left: calc(var(--carousel-cite-line-width) + 10px);
  margin: 0;
  position: relative;
}

cite::before {
  content: '';
  width: var(--carousel-cite-line-width);
  height: 3px;
  background-color: var(--carousel-cite-line-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

:host([mobile]) .img {
  display: none;
}

:host([mobile]) figcaption {
  width: 100%;
  margin-left: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
