:root {
  --yellow: #fce38a;
  --red: #f38181;
  --container-width: 80%;
}

html {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  width: var(--container-width);
  max-width: 730px;
  margin: 40px auto;
}

section {
  &:not(:first-of-type) {
    margin-top: 90px;
  }

  &:last-of-type {
    margin-bottom: 445px;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}

h5 {
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

p {
  color: #999;
  font-size: 1.1rem;
  margin: 0;
}

blockquote {
  color: #999;
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  margin: 0;

  &::before,
  &::after {
    content: '"';
  }
}

cite {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.7rem;
  margin: 0;

  &::before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: var(--red);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.chart {
  display: flex;
  justify-content: center;

  x-chart {
    display: inline-block;
    vertical-align: top;
    min-width: 230px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
