$color-main: #e91e63;
$color-main--light: #ec407a;
$color-add-1: #4fac50;
$color-add-1--light: #a5d6a7;
$color-add-2: #fff59d;
$color-add-2--light: #fff9c4;

$font-family--main: Roboto, sans-serif;
$font-family--add: PT Serif, serif;

:root {
  --container-max-width: 730px;
}
